DATABASE_URL=postgresql://postgres:Qimatx@201201@db.ybsiutwhsrtzyycopdip.supabase.co:5432/postgres
SUPABASE_URL=https://ybsiutwhsrtzyycopdip.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_YxoZsGddwLSIBN984eV8VQ_G1ikG_yk
SUPABASE_SECRET_KEY=sb_secret_vfyK-OVgn9bT420ldQpSlg_s3xoA87Y
SUPABASE_JWKS_URL=https://ybsiutwhsrtzyycopdip.supabase.co/auth/v1/.well-known/jwks.json